.editorBox {
  background-color: #3e4d5b;
  .editorDiv {
    background-color: #cedded;
    overflow: hidden;
  }
  .button {
    font-weight: 600;
    border: none;
  }
  .button:last-child {
    background-color: #fb7928;
  }
  .symbolArea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
